.mat-card {
  margin: 2%;
  text-align: left;
}

.mat-mdc-form-field {
  margin: 1%;
  width: 98%;
}

.mat-50 {
  margin: 1%;
  width: 48%;
}

.div-50 {
  display: inline;
  width: 48%;
  margin: 1%;
}

button {
  margin: 2px;
}
