.mdc-card {
  margin: 2%;
}

.mat-mdc-card-header {
  justify-content: space-between;
}

.add-associate-button {
  margin-bottom: 10px;
}

.edit-associate-button,
.delete-associate-button {
  margin: 2px;
}
